* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    height: 100vh;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #0A1612;
    overflow: hidden;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C5C1C0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.openning-text {
    /* color: #F19F4D; */
    color: #4484CE;
    position: absolute;
    font-size: 26px;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 1px;
}

#center-container {
    position: relative;
    
}

.central-button-aboutme-up {
    width: 180px;
    height: 180px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 1s;
    background-color: #F9CF00;
    cursor: pointer;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.8);
    font-family: 'Averia Sans Libre', 'Alegreya Sans', sans-serif;
    font-size: 20px;
}

i.fa-spin {
    animation-duration: 25s;
}

.central-button-mywork-up {
    width: 180px;
    height: 180px;
    position: absolute;
    transform: rotate(180deg) translate(50%, 50%);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;
    transition: all 1s;
    background-color: #F9CF00;
    cursor: pointer;
    box-shadow: inset 25px 25px 40px rgba(0,0,0,.8);
    font-family: 'Averia Sans Libre', 'Alegreya Sans', sans-serif;
    font-size: 20px;
}

#my-work {
    transform: rotate(180deg);
}

.site-project-button {
    position: absolute;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.7px;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #C5C1C0;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.8);
    font-family: 'Averia Sans Libre', 'Alegreya Sans', sans-serif;
    font-size: 17px;
    color: white;
}

.code-project-buttons {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color: white;
    cursor: cell;
    font-family: 'Averia Sans Libre', 'Alegreya Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.about-me-buttons {
    position: absolute;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.7px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: none;
    background-color: #D9D9D9;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.8);
    font-family: 'Averia Sans Libre', 'Alegreya Sans', sans-serif;
    font-size: 18px;
}

#gif-under-construction {
    position: absolute;
    bottom: 0px;
    right: 0px;
}