* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#center-container {
    position: relative;
}

button {
    position: absolute;
    cursor: pointer;
    text-align: center;  
    width: 200px;
    height: 200px;
    border-radius: 50%;
}