* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #0A1612;
    overflow: hidden;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C5C1C0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
}

.openning-text {
    color: #C5C1C0;
    /* color: #D9D9D9; */
    position: absolute;
    font-size: 22px;
}

#center-container {
    position: relative;
}

.central-button-aboutme-up {
    width: 180px;
    height: 180px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    font-size: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    /* background-color: #F7CE3E; */
    /* background-color: #FFCE00; */
    background-color: #F9CF00;
    cursor: pointer;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.8);
}

.central-button-mywork-up {
    width: 180px;
    height: 180px;
    position: absolute;
    transform: rotate(180deg) translate(50%, 50%);
    border-radius: 50%;
    font-size: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    /* background-color: #F7CE3E; */
    /* background-color: #FFCE00; */
    background-color: #F9CF00;
    cursor: pointer;
    box-shadow: inset 25px 25px 40px rgba(0,0,0,.8);
}

#my-work {
    transform: rotate(180deg);
}

.site-project-button {
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.7px;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #C5C1C0;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.8);
}

.site-project-button-on {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.7px;  
    border-radius: 50%;
    background-color: #C5C1C0;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.8);
}

.code-project-buttons {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color: white;
    cursor: cell;
    /* border: 1px solid #D9D9D9; */
    border: 1px solid #C5C1C0;
}

.about-me-buttons {
    position: absolute;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.7px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: none;
    /* background-color: #C5C1C0; */
    background-color: #D9D9D9;
    box-shadow: inset -25px -25px 40px rgba(0,0,0,.8);
}